<html>
  <div>
    <label>Nombre : <%=nombre%> </label>
    <br>
    <label>edad : <%=edad%></label>
    <br>
    <h6>Mostramos el nombre <%=edad%> veces</h6>
    <br>
    <% for(i=1; i <= edad; i++) { %>
      <p> valor i = <%=i%> nombre : <%=nombre%> </p>
      <% }//fin del for %>
  <div>
<html>
